---
import '@app/styles/global.css';
import '@fontsource-variable/onest';
import { Header } from '@widgets/header';
import { Footer } from '@widgets/footer';

interface Props {
	title: string;
	description: string;
	img_preview: string;
}
const { description, title, img_preview } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content={description} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={img_preview} />
		<meta property="og:url" content="https://devsandoval.me" />
		<meta property="og:type" content="website" />
		<title>{title}</title>
		<script is:inline>
			// On page load or when changing themes, best to add inline in `head` to avoid FOUC
			document.documentElement.classList.toggle(
				'dark',
				localStorage.theme === 'dark' ||
					(!('theme' in localStorage) &&
						window.matchMedia('(prefers-color-scheme: dark)').matches)
			);
		</script>
	</head>

	<body class="relative text-black dark:text-white bg-white dark:bg-gray-950 overflow-x-hidden">
		<div class="fixed inset-0 z-[-2] bg-gray-50 dark:bg-gray-950 background-pattern"></div>
		<div class="relative flex flex-col justify-center items-center">
			<Header />
			<slot />
			<Footer />
		</div>
	</body>

	<style>
		.background-pattern {
			background-image: url('/background/polygon-luminary.svg');
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			opacity: 0.4;
		}
	</style>
</html>
