---
import PythonIcon from '@assets/icons/Python.astro';
import DjangoIcon from '@assets/icons/Django.astro';
import MarkdownIcon from '@assets/icons/Markdown.astro';
import GitHubIcon from '@assets/icons/GitHub.astro';
import LinkIcon from '@assets/icons/Link.astro';
import LinkButton from './LinkButton.astro';
import BootstrapIcon from '@assets/icons/Bootstrap.astro';
import JavaScriptIcon from '@assets/icons/JavaScript.astro';
import CSSIcon from '@assets/icons/CSS.astro';
import HTMLIcon from '@assets/icons/HTML.astro';
import TailwindIcon from '@assets/icons/Tailwind.astro';
import ReactIcon from '@assets/icons/React.astro';
import NextJSIcon from '@assets/icons/NextJS.astro';
import MySQLIcon from '@assets/icons/MySQL.astro';
import MaterialUIIcon from '@assets/icons/MaterialUI.astro';
import PostgreSQLIcon from '@assets/icons/PostgreSQL.astro';
import ExpressIcon from '@assets/icons/Express.astro';
import CloudinaryIcon from '@assets/icons/Cloudinary.astro';
import SQLiteIcon from '@assets/icons/SQLite.astro';
import SanityIcon from '@assets/icons/Sanity.astro';
import ChartJsIcon from '@assets/icons/ChartJs.astro';
import AstroIcon from '@assets/icons/AstroIcon.astro';
import { getLangFromUrl } from '../i18n/utils';
import { Image } from 'astro:assets';

const lang = getLangFromUrl(new URL(Astro.request.url));

const TAGS = {
	PYTHON: {
		name: 'Python',
		class: 'bg-blue-500 text-white',
		icon: PythonIcon,
	},
	DJANGO: {
		name: 'Django',
		class: 'bg-green-500 text-white',
		icon: DjangoIcon,
	},
	MARKDOWN: {
		name: 'Markdown',
		class: 'bg-gray-500 text-white',
		icon: MarkdownIcon,
	},
	BOOTSTRAP: {
		name: 'Bootstrap',
		class: 'bg-purple-500 text-white',
		icon: BootstrapIcon,
	},
	JAVASCRIPT: {
		name: 'JavaScript',
		class: 'bg-yellow-500 text-white',
		icon: JavaScriptIcon,
	},
	CSS: {
		name: 'CSS',
		class: 'bg-blue-500 text-white',
		icon: CSSIcon,
	},
	HTML: {
		name: 'HTML',
		class: 'bg-red-500 text-white',
		icon: HTMLIcon,
	},
	TAILWIND: {
		name: 'Tailwind',
		class: 'bg-blue-500 text-white',
		icon: TailwindIcon,
	},
	REACT: {
		name: 'React',
		class: 'bg-blue-500 text-white',
		icon: ReactIcon,
	},
	NEXTJS: {
		name: 'Next.js',
		class: 'bg-black text-white',
		icon: NextJSIcon,
	},
	MYSQL: {
		name: 'MySQL',
		class: 'bg-blue-500 text-white',
		icon: MySQLIcon,
	},
	MATERIALUI: {
		name: 'Material-UI',
		class: 'bg-white text-blue-600',
		icon: MaterialUIIcon,
	},
	POSTGRESQL: {
		name: 'PostgreSQL',
		class: 'bg-blue-500 text-white',
		icon: PostgreSQLIcon,
	},
	EXPRESS: {
		name: 'Express',
		class: 'bg-black text-white border border-withe',
		icon: ExpressIcon,
	},
	CLOUDINARY: {
		name: 'Cloudinary',
		class: 'bg-white text-blue-900',
		icon: CloudinaryIcon,
	},
	SQLITE: {
		name: 'SQLite',
		class: 'bg-blue-500 text-white',
		icon: SQLiteIcon,
	},
	SANITY: {
		name: 'Sanity',
		class: 'bg-black text-white',
		icon: SanityIcon,
	},
	CHARTJS: {
		name: 'Chart.js',
		class: 'bg-blue-500 text-white',
		icon: ChartJsIcon,
	},
	ASTRO: {
		name: 'Astro',
		class: 'bg-black text-white',
		icon: AstroIcon,
	},
};
const PROJECTS_DATA = {
	es: [
		{
			title: 'TechShop',
			description:
				'TechShop E-Commerce ofrece una experiencia de compra ágil y totalmente responsiva. Incluye filtros avanzados, carrito de compras dinámico, autenticación segura, lista de deseos, modo oscuro y un panel de usuario intuitivo. La gestión de contenido se realiza con Sanity CMS.',
			link: 'https://byte-shop-ecommerce.vercel.app',
			github: 'https://github.com/sandovaldavid/byte-shop-ecommerce',
			image: '/projects/project-15-TechShop.webp',
			tags: [TAGS.NEXTJS, TAGS.REACT, TAGS.SANITY, TAGS.TAILWIND],
		},
		{
			title: 'Buona Vita Nutrición',
			description:
				'Buona Vita Nutrición es una plataforma web diseñada para nutricionistas que facilita el registro, visualización y análisis de información clínica de pacientes. Incluye cálculo automático de IMC, edición de datos y almacenamiento local persistente, ademas ofrece gráficos interactivos gracias a Chart.js.',
			link: 'https://clinica-alura-demo.devsandoval.me',
			github: 'https://github.com/sandovaldavid/Pagina_Web_Clinica_Alura',
			image: '/projects/project-16-buona-vita.webp',
			tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT, TAGS.CHARTJS],
		},
		{
			title: 'Nike Demo',
			description:
				'Nike Website Demo es una landing page creada con Astro, TypeScript y Tailwind CSS que emula fielmente el sitio oficial de Nike, priorizando el rendimiento y un diseño pixel-perfect. Su arquitectura modular facilita la mantenibilidad, mientras que la selección dinámica de productos, el scroll suave y la optimización de imágenes aseguran una experiencia fluida y totalmente responsiva en cualquier dispositivo.',
			link: 'https://nike-website-demo.vercel.app',
			github: 'https://github.com/sandovaldavid/nike-website-demo',
			image: '/projects/project-17-nike-demo.webp',
			tags: [TAGS.ASTRO, TAGS.TAILWIND, TAGS.JAVASCRIPT],
		},
		{
			title: 'Doguito',
			description:
				'Doguito Petshop Admin es un sistema administrativo web que permite gestionar clientes, productos y mascotas mediante operaciones CRUD, con validación de formularios y notificaciones en tiempo real. Su interfaz responsiva ofrece un inventario dinámico y la asociación cliente–mascota. El backend expone una API RESTful sobre JSON Server y el frontend está desplegado en Vercel para asegurar alta disponibilidad y escalabilidad.',
			link: 'https://doguito.devsandoval.me',
			github: 'https://github.com/sandovaldavid/CRUD',
			image: '/projects/project-18-doguito.webp',
			tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
		},
		{
			title: 'Mail',
			description:
				'Este proyecto implementa un cliente de correo electrónico de una sola página (SPA) con Django como backend y JavaScript, HTML y CSS como frontend. El objetivo principal es proporcionar una interfaz funcional e intuitiva para la gestión de correos electrónicos, con funciones clave como enviar, recibir, archivar y responder correos.',
			link: 'https://mail.devsandoval.me',
			github: 'https://github.com/sandovaldavid/project-03-mail',
			image: '/projects/project-14-mail.webp',
			tags: [TAGS.DJANGO, TAGS.BOOTSTRAP, TAGS.JAVASCRIPT],
		},
		{
			title: 'Wiki',
			description:
				"Este proyecto es un sitio web tipo enciclopedia construido con Django, llamado 'wiki', que contiene una única aplicación llamada 'encyclopedia'",
			link: 'https://wiki.devsandoval.me',
			github: 'https://github.com/sandovaldavid/project-01-wiki',
			image: '/projects/project-01-wiki.webp',
			tags: [TAGS.DJANGO, TAGS.PYTHON, TAGS.MARKDOWN, TAGS.BOOTSTRAP],
		},
		{
			title: 'Auctions',
			description:
				'El Sitio de Subastas es una aplicación web donde los usuarios pueden crear, pujar y gestionar subastas en línea. Proporciona una plataforma para que los usuarios enumeren artículos para la venta, realicen ofertas competitivas e interactúen con la comunidad de subastas a través de comentarios y listas de seguimiento.',
			link: 'https://auctions.devsandoval.me',
			github: 'https://github.com/sandovaldavid/project-02-auctions',
			image: '/projects/project-02-auctions.webp',
			tags: [TAGS.DJANGO, TAGS.PYTHON, TAGS.BOOTSTRAP, TAGS.JAVASCRIPT, TAGS.CSS, TAGS.HTML],
		},
		{
			title: 'Codificador de Mensajes',
			description:
				'Esta pagina web consiste en encriptar un texto ingresado por el usuario y en la misma página puede desencriptar el mensaje si el usuario lo desea.',
			link: 'https://codificador.devsandoval.me',
			github: 'https://github.com/sandovaldavid/Challenge-01--Codificador',
			image: '/projects/project-03-codificador.webp',
			tags: [TAGS.JAVASCRIPT, TAGS.CSS, TAGS.HTML],
		},
		{
			title: 'Clinica Dental',
			description:
				'Una página de destino moderna y responsiva para una clínica dental centrada en la atención preventiva y la educación dental.',
			link: 'https://dental-clinic.devsandoval.me',
			github: 'https://github.com/sandovaldavid/Dental-Clinic',
			image: '/projects/project-06-clinica-dental.webp',
			tags: [TAGS.CSS, TAGS.HTML],
		},
		{
			title: 'Lectures Management',
			description:
				'Una aplicación web moderna para gestionar clases con operaciones CRUD (Crear, Leer, Actualizar, Eliminar). Desarrollada con JavaScript básico y una API RESTful.',
			link: 'https://lectures-management.devsandoval.me',
			github: 'https://github.com/sandovaldavid/Lectures-Management',
			image: '/projects/project-07-lectures-management.webp',
			tags: [TAGS.CSS, TAGS.HTML, TAGS.SQLITE, TAGS.EXPRESS],
		},
		{
			title: 'Lista de Facultades',
			description:
				'Aplicación web para la gestión de facultades universitarias. Este proyecto ofrece una interfaz CRUD (Crear, Leer, Actualizar, Eliminar) completa para la gestión de facultades con un diseño moderno y responsivo.',
			link: 'https://facultades-unp.devsandoval.me',
			github: 'https://github.com/sandovaldavid/list-faculties-unp',
			image: '/projects/project-08-lista-facultades.webp',
			tags: [TAGS.TAILWIND, TAGS.CLOUDINARY, TAGS.NEXTJS, TAGS.MYSQL],
		},
		{
			title: 'Aplicaión de Notas',
			description:
				'Una aplicación de notas moderna y responsiva creada con React y Material-UI que permite a los usuarios crear, editar y administrar notas con una interfaz limpia e intuitiva.',
			link: 'https://app-notes-dev.devsandoval.me/',
			github: 'https://github.com/sandovaldavid/app-notes-dev',
			image: '/projects/project-09-app-notes.webp',
			tags: [TAGS.REACT, TAGS.MATERIALUI, TAGS.POSTGRESQL, TAGS.EXPRESS],
		},
		{
			title: 'Juego de Ahorcados',
			description:
				"Un juego clásico del ahorcado implementado en HTML, CSS y JavaScript puro. El jugador debe adivinar una palabra letra por letra antes de que el dibujo del 'ahorcado' se complete.",
			link: 'https://juego-ahorcados.devsandoval.me/',
			github: 'https://github.com/sandovaldavid/Challenge-02--Juego-Ahorcados',
			image: '/projects/project-10-juego-ahorcados.webp',
			tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
		},
		{
			title: 'Odontología Estética',
			description:
				'Un sitio web moderno y responsivo para una clínica dental especializada en odontología estética. Creado con HTML5, CSS3 y JavaScript básico.',
			link: 'https://odontologia-estetica.devsandoval.me',
			github: 'https://github.com/sandovaldavid/Odontologia-Estetica',
			image: '/projects/project-11-odontologia-estetica.webp',
			tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
		},
	],
	en: [
		{
			title: 'TechShop',
			description:
				'ByteShop E-Commerce offers features advanced product filters, a dynamic shopping cart, secure authentication, a wishlist, dark mode and an intuitive user dashboard. Content is managed via Sanity CMS and the deployment on Vercel ensures top performance and effortless scalability.',
			link: 'https://byte-shop-ecommerce.vercel.app',
			github: 'https://github.com/sandovaldavid/byte-shop-ecommerce',
			image: '/projects/project-15-TechShop.webp',
			tags: [TAGS.NEXTJS, TAGS.REACT, TAGS.SANITY, TAGS.TAILWIND],
		},
		{
			title: 'Buona Vita Nutrición',
			description:
				'Buona Vita Nutrition is a web-based system for nutritionists to record, view, and analyze patients’ clinical data. It features automatic BMI calculation, data editing, and persistent local storage. Leveraging Chart.js for interactive charts, its fully responsive design, real-time validation, and notification system ensure a smooth and professional user experience.',
			link: 'https://clinica-alura-demo.devsandoval.me/',
			github: 'https://github.com/sandovaldavid/Pagina_Web_Clinica_Alura',
			image: '/projects/project-16-buona-vita.webp',
			tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT, TAGS.CHARTJS],
		},
		{
			title: 'Nike Demo',
			description:
				'Nike Website Demo is a landing page built with Astro, TypeScript and Tailwind CSS that faithfully replicates Nike’s official site, prioritizing performance and pixel-perfect design. Its modular architecture enhances maintainability, while dynamic product selection, smooth scrolling and image optimization deliver a seamless, fully responsive experience across all devices.',
			link: 'https://nike-website-demo.vercel.app',
			github: 'https://github.com/sandovaldavid/nike-website-demo',
			image: '/projects/project-17-nike-demo.webp',
			tags: [TAGS.ASTRO, TAGS.TAILWIND, TAGS.JAVASCRIPT],
		},
		{
			title: 'Doguito',
			description:
				'Doguito Petshop Admin is a web-based administrative system that enables full CRUD management of clients, products, and pets, featuring form validation and real-time notifications. The responsive interface supports dynamic inventory updates and client–pet associations. The backend provides a RESTful API via JSON Server, and the frontend is deployed on Vercel for reliability and scalability.',
			link: 'https://doguito.devsandoval.me/',
			github: 'https://github.com/sandovaldavid/CRUD',
			image: '/projects/project-18-doguito.webp',
			tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
		},
		{
			title: 'Mail',
			description:
				'This project implements a single-page email client (SPA) using Django for the backend and JavaScript, HTML, and CSS for the frontend. The main goal is to provide a functional and user-friendly interface for managing emails with key features such as sending, receiving, archiving, and replying to emails.',
			link: 'https://mail.devsandoval.me',
			github: 'https://github.com/sandovaldavid/project-03-mail',
			image: '/projects/project-14-mail.webp',
			tags: [TAGS.DJANGO, TAGS.BOOTSTRAP, TAGS.JAVASCRIPT],
		},
		{
			title: 'Wiki',
			description:
				"This project is a Django-built encyclopedia-type website called 'wiki', which contains a single application called 'encyclopedia'",
			link: 'https://wiki.devsandoval.me',
			github: 'https://github.com/sandovaldavid/project-01-wiki',
			image: '/projects/project-01-wiki.webp',
			tags: [TAGS.DJANGO, TAGS.PYTHON, TAGS.MARKDOWN, TAGS.BOOTSTRAP],
		},

		{
			title: 'Auctions',
			description:
				'El Sitio de Subastas es una aplicación web donde los usuarios pueden crear, pujar y gestionar subastas en línea. Proporciona una plataforma para que los usuarios enumeren artículos para la venta, realicen ofertas competitivas e interactúen con la comunidad de subastas a través de comentarios y listas de seguimiento.',
			link: 'https://auctions.devsandoval.me/',
			github: 'https://github.com/sandovaldavid/project-02-auctions',
			image: '/projects/project-02-auctions.webp',
			tags: [TAGS.DJANGO, TAGS.PYTHON, TAGS.BOOTSTRAP, TAGS.JAVASCRIPT, TAGS.CSS, TAGS.HTML],
		},
		{
			title: 'Message Encoder',
			description:
				'This web page encrypts a text entered by the user, and on the same page, the user can decrypt the message if desired.',
			link: 'https://codificador.devsandoval.me',
			github: 'https://github.com/sandovaldavid/Challenge-01--Codificador',
			image: '/projects/project-03-codificador.webp',
			tags: [TAGS.JAVASCRIPT, TAGS.CSS, TAGS.HTML],
		},
		{
			title: 'Dental Clinic',
			description:
				'A modern and responsive landing page for a dental clinic focused on preventive care and dental education.',
			link: 'https://dental-clinic.devsandoval.me',
			github: 'https://github.com/sandovaldavid/Dental-Clinic',
			image: '/projects/project-06-clinica-dental.webp',
			tags: [TAGS.CSS, TAGS.HTML],
		},
		{
			title: 'Lectures Management',
			description:
				'A modern web application for managing classes with CRUD operations (Create, Read, Update, Delete). Developed with basic JavaScript and a RESTful API.',
			link: 'https://lectures-management.devsandoval.me',
			github: 'https://github.com/sandovaldavid/Lectures-Management',
			image: '/projects/project-07-lectures-management.webp',
			tags: [TAGS.CSS, TAGS.HTML, TAGS.SQLITE, TAGS.EXPRESS],
		},
		{
			title: 'Faculty List',
			description:
				'A web application for managing university faculties. This project offers a complete CRUD interface (Create, Read, Update, Delete) with a modern and responsive design.',
			link: 'https://facultades-unp.devsandoval.me',
			github: 'https://github.com/sandovaldavid/list-faculties-unp',
			image: '/projects/project-08-lista-facultades.webp',
			tags: [TAGS.TAILWIND, TAGS.CLOUDINARY, TAGS.NEXTJS, TAGS.MYSQL],
		},
		{
			title: 'Notes Application',
			description:
				'A modern and responsive notes application built with React and Material-UI, allowing users to create, edit, and manage notes with a clean and intuitive interface.',
			link: 'https://app-notes-dev.devsandoval.me/',
			github: 'https://github.com/sandovaldavid/app-notes-dev',
			image: '/projects/project-09-app-notes.webp',
			tags: [TAGS.REACT, TAGS.MATERIALUI, TAGS.POSTGRESQL, TAGS.EXPRESS],
		},
		{
			title: 'Hangman Game',
			description:
				'A classic Hangman game implemented using pure HTML, CSS, and JavaScript. The player must guess a word letter by letter before the "hangman" drawing is completed.',
			link: 'https://juego-ahorcados.devsandoval.me/',
			github: 'https://github.com/sandovaldavid/Challenge-02--Juego-Ahorcados',
			image: '/projects/project-10-juego-ahorcados.webp',
			tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
		},
		{
			title: 'Aesthetic Dentistry',
			description:
				'A modern and responsive website for a dental clinic specializing in aesthetic dentistry. Built with HTML5, CSS3, and basic JavaScript.',
			link: 'https://odontologia-estetica.devsandoval.me',
			github: 'https://github.com/sandovaldavid/Odontologia-Estetica',
			image: '/projects/project-11-odontologia-estetica.webp',
			tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
		},
	],
};

const PROJECTS = PROJECTS_DATA[lang] || PROJECTS_DATA.es;
---

<div class="flex flex-col gap-y-16">
	{
		PROJECTS.map(({ image, title, description, tags, link, github }) => (
			<article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
				<div class="w-full md:w-1/2">
					<div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
						<Image
							src={image}
							width="1600"
							height="900"
							decoding="async"
							loading="lazy"
							alt={`${title} project image`}
						/>
					</div>
				</div>

				<div class="w-full md:w-1/2 md:max-w-lg">
					<h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">{title}</h3>
					<div class="flex flex-wrap mt-2">
						<ul class="flex flex-row mb-2 gap-x-2 flex-wrap">
							{tags.map(tag => (
								<li class="mb-3">
									<span
										class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
									>
										<tag.icon class="size-4" />
										{tag.name}
									</span>
								</li>
							))}
						</ul>

						<div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
						<footer class="flex items-end justify-start mt-4 gap-x-4">
							{github && (
								<LinkButton href={github}>
									<GitHubIcon class="size-6" />
									{lang === 'es' ? 'Código' : 'Code'}
								</LinkButton>
							)}
							{link && (
								<LinkButton href={link}>
									<LinkIcon class="size-4" />
									{lang === 'es' ? 'Vista previa' : 'Preview'}
								</LinkButton>
							)}
						</footer>
					</div>
				</div>
			</article>
		))
	}
</div>
