---
import '../styles/global.css';
import '@fontsource-variable/onest';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';

interface Props {
	title: string;
	description: string;
	img_preview: string;
}
const { description, title, img_preview } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content={description} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={img_preview} />
		<meta property="og:url" content="https://devsandoval.me" />
		<meta property="og:type" content="website" />
		<title>{title}</title>
		<script is:inline>
			// On page load or when changing themes, best to add inline in `head` to avoid FOUC
			document.documentElement.classList.toggle(
				'dark',
				localStorage.theme === 'dark' ||
					(!('theme' in localStorage) &&
						window.matchMedia('(prefers-color-scheme: dark)').matches)
			);
		</script>
	</head>

	<body
		class="relative text-black dark:text-white flex flex-col justify-center items-center bg-white dark:bg-gray-950"
	>
		<div
			class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full h-full bg-gray-50 dark:bg-gray-950
			bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(217,216,255,0.5),rgba(255,255,255,0.9))]
			dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
		>
		</div>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
